
footer {
	background: #091722;
	p {
		color:white;
		font-size: 10px;
		padding: 20px 0;
		display: inline-block;
	}
	ul {
		float:right;
		@extend p;
		li {
			display:inline-block;
			padding-left: 20px;
		}
	}
}
